
 <div class="mb-3 flex <%= message.user == current_user ? 'justify-end' : 'justify-start' %>">
            <div class="p-3 rounded-lg inline-block max-w-xs <%= message.user == current_user ? 'bg-blue-500 text-white' : 'bg-gray-200 text-black' %> break-words overflow-hidden">
              <%= message.content %>
            </div>
 </div> 
